
* {
  box-sizing: border-box;
}

:root {
  --color-bg: #102e24;
  --color-active: #ffc499;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}
  header > a {
      color: white;
      text-decoration: none;
      padding: 0 1rem;
  }
  header > a:hover {
      text-decoration: underline;
  }

  .active {
    color: var(--color-active);
    cursor: default;
  }

  .goods{
    background-color: rgb(249, 245, 245);
   
  }

  h2{
    background-image: url('https://img.freepik.com/free-photo/person-feeling-anxiety-induced-by-book-studying_23-2150982005.jpg?ga=GA1.1.2007972847.1717526022&semt=ais_hybrid');
    text-align: center;
    opacity: 0.6;
    height: 100px;
    color:aliceblue;
    padding-top: 30px;
  }






